<div class="pagination">
    {% if paginator.previous_page %}
    <span class="previous">
      {% if paginator.previous_page == 1 %}
        <a href="/">Prev</a>
      {% else %}
        <a href="{{ paginator.previous_page_path }}">Prev</a>
      {% endif %}
    </span>
  {% else %}
    <span class="previous disabled">
      <span>Prev</span>
    </span>
  {% endif %}


      {% if paginator.page == 1 %}
        <span class="current-page">1</span>
      {% else %}
        <a href="/">1</a>
      {% endif %}

    {% for count in (2..paginator.total_pages) %}
        {% if count == paginator.page %}
          <span class="current-page">{{ count }}</span>
        {% else %}
          <a href="/page{{ count }}">{{ count }}</a>
        {% endif %}
    {% endfor %}


  {% if paginator.next_page %}
    <span class="next">
      <a href="{{ paginator.next_page_path }}">Next</a>
    </span>
  {% else %}
    <span class="next disabled">
      <span>Next</span>
    </span>
  {% endif %}
</div>