<style>
    

</style>

<ul class="post-list">
  {% for post in paginator.posts %}
    <li class="post-item card">
        {% if post.image %}
            <div class="post-header post-image-header">
                <img src="{{post.image}}" />
                <div class="post-image-header-container">
                    <span class="post-time" >{{ post.date | date_to_string  }}</span>
                    <a class="post-title" href="{{ post.url }}" target="_blank">{{ post.title }}</a>   
                </div>
            </div>
        {% else %}
            <div class="post-header">
                <span class="post-time" >{{ post.date | date_to_string  }}</span>
                <a class="post-title" href="{{ post.url }}" target="_blank">{{ post.title }}</a>   
            </div>
        {% endif %}
        <div class="post-content">{{ post.excerpt }}</div>
        <div class="post-footer">
            <a class="post-more" href="{{ post.url }}" target="_blank">more</a>
        </div>
    </li>
  {% endfor %}
</ul>