body{
    background-color: #1c1c1c;
}
.card{
    background-color: #2a2a29;
    padding:5px 20px 20px;
}
.post-list{
    list-style: none;
    padding:0;
}
.post-list h1,
.post-list h2,
.post-list h3,
.post-list h4{
    font-size:14px;
}
.post-item{
    /*background: linear-gradient(#1c1c1c, #2a2a29);*/
    margin-bottom:20px;
}
.post-header{
    line-height: 35px;
    margin:10px 0;
}
.post-title{
    font-size:24px;
    letter-spacing: 0.1em;
    display:block;
}
.post-content{
    margin-left:20px;
    opacity:0.8;
}
.post-time{
    float:right;
}
.post-more{

}
.post-footer{
    height:20px;
    line-height:20px;
}

.post-image-header{
    position: relative;
    line-height: 0;
    max-height:300px;
}
.post-image-header img{
    width:100%;
    max-height:300px;
}
.post-image-header-container{
    position: absolute;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.7);
    height:50px;
    line-height: 50px;
    width:100%;
    text-indent: 15px;
}


.pagination{
    text-align: center;
}
.left{
    float:left;
    width:250px;
}
.right{
    margin-left:300px;
}


.page-header-image{
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    height:300px;
    border-radius:3px;
    box-shadow: 1px 1px 15px 1px black;
}
.page-header-image img{
    width:100%;
    margin-top:-50px;
}